@model IEnumerable<ComercioE.Models.Provincia>

@{
    ViewBag.Title = "Provincias";
}

<h2>Lista de Provincias</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", new { }, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProvinciaId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProvinciaId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProvinciaId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
