@model ComercioE.Models.Compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodega.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodega.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
    </dl>
</div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bodega.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compañia.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th></th>
        </tr>


            @foreach (var item in Model.CompraDetalles)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>



                </tr>
            }


    </table>*@







<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
